*{
  margin: 0px;
  padding: 0px;
}

.outer{
  height: 500px;
  width: 500px;
  border: 2px solid black;
  margin-left: 400px;
  margin-top: 50px;
  padding: 50px;
  box-sizing: border-box;
  background-color: aqua;

}

.text{
  font-size: 20px;
  margin-right: 20px;
}

.inner{
  margin-top: 20px;
}

.btn{
  margin-top: 20px;
  margin-left: 150px;
  font-size: 20px;
  padding: 10px;
}





*{
  margin: 0px;
  padding: 0px;
}

/* .outer{
  font-size: 20px;
  height: 500px;
  width: 600px;
  padding: 100px;
  margin-left: 300px;
  margin-top:100px ;
  background-color: aqua;
} */

.btn{
  margin-top: 50px;
}
.sub{
  padding: 10px;
}
.lname{
  margin-right: 10px;
}


.box{
  height: 50px;
  width: 150px;
  border: 2px solid black;
  margin: 20px;
}